<main class="container-fluid">
  <div class="row">
    <!-- Sidebar header -->
    <div class="col">
      <h2 id="quiz-header">Questions</h2>
      <div id="new" (click)="newQuestion(quizId)">
        + Add Question
      </div>
      <div id="questionSideMenu">
        <app-question-list [quizId]="quizId" [questionInfo]="questionInfo"></app-question-list>
      </div>
    </div>
    <!-- Edit Suite -->
    <div class="col-10 m-4">
        <div class="border-bottom">
          <h1 style="text-align: center;">{{quizTitle}}</h1>
        </div>
        <div>
          <app-question-creator></app-question-creator>
          <!-- <app-create-a-quiz></app-create-a-quiz> -->
          <!-- <app-song-list></app-song-list> -->
        </div>
    </div>
  </div>
</main>