<h1 class="text-center text-white">{{quizTitle}}</h1>
<mat-sidenav-container id="content">
    <div class="border-bottom">
    </div>
    
      <!-- <button id="sidebarToggle" mat-icon-button (click)="snav.toggle()">
          <mat-icon class="text-center">arrow_forward_ios</mat-icon>
      </button> -->
    
    <!-- <mat-sidenav opened #snav mode="side" id="sideNav">   -->
    <mat-sidenav opened #snav mode="side" id="sideNav">
        <h2 class="noSelect text-white" id="quiz-header">Questions</h2>
        <button id="newBtn" (click)="newQuestion(quizId)">
          + Add Question
        </button>
        <div id="questionSideMenu">
          <app-question-list [quizId]="quizId" [questionInfo]="questionInfo" (saveAvailable)="updateSave()"></app-question-list>
        </div>
    </mat-sidenav>
    
    <div class="container text-center">
      <div id="questionCreator">
        <app-question-creator *ngIf="selectedQuestion" [selectedQuestion]="selectedQuestion"></app-question-creator>
      </div>
      <button (click)="save()" [disabled]="!saveAvaliable" id="saveBtn" class="btn btn-warning mt-4">Save Quiz</button>
    </div>
    
  </mat-sidenav-container>