/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Can be applied to elements where you don't want the user to be able to select / highlight content */
.noSelect{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* Disables Bootstrap CSS default "Smooth" scrolling behavior when switching between views */
html {
    scroll-behavior: auto !important
    }

/* Custom color for game timer */
.gameTimer .mat-progress-bar-fill::after {
    /* background-color: green !important; */
    /* background-color: #98c7d7 !important; */
    background-color: #e77373 !important;
}