<div class="container-fluid" id="cloudBackground">
  <div class="container">
    <!-- <div class="row"> -->
      <section class="row" id="hero" class="container-fluid">
        <div id="heroLogoDiv" class="col-lg-6">
          
          <img class="d-flex justify-content-center" id="logo" src="../../../assets/images/audioQueryAltLogo.jpg" alt="AudioQuery Logo">
          <p class="lead text-white">Create audio based quizzes for you and your friends to enjoy.</p>
          <div id="btn-container" class="lead">
            <a class="btn btn-lg btn-secondary fw-bold" (click)="directToPin()">Join a Game Lobby</a>
          </div>
        </div>
        <div id="heroMascotDiv" class="col-lg-6">
          <div class="d-flex flex-column">
            <div>
              <img id="audioQueryQuestionMark2D" class="object"
                src="../../../assets/images/audioQueryQuestionMark2D.jpg" alt="" style="z-index: 99">
              <!-- <img id="audioQueryQuestionMark3D" class="object" src="../../../assets/images/audioQueryQuestionMark3D.jpg" alt=""> -->
            </div>
            <!-- <img id="audioQueryMascot3D" src="../../../assets/images/audioQueryMascot3D.jpg" alt=""> -->
            <img id="audioQueryMascot2D" src="../../../assets/images/audioQueryMascot2D.jpg" alt="">
          </div>
        </div>
      </section>
    <!-- </div> -->
  </div>
</div>
