<div class="container-fluid">
    <div>
        <section style="position: relative" class="row" id="hero" class="container-fluid">
            <div id="heroLogoDiv" class="container" style="display: flex; flex-direction: column; align-items: center">
                <img class="" id="logo" src="../../../assets/images/audioQueryLogo(Small).png" alt="AudioQuery Logo"
                    style=""/>
                <div>
                    <p class="lead text-white">
                        Create audio based quizzes for you and your friends to enjoy.
                    </p>
                    <button class="btn btn-lg btn-secondary fw-bold" (click)="directToPin()">
                        Join a Game Lobby
                    </button>
                </div>
            </div>
            <span>{{ isScreenSmall$ | async }}</span>
            <div style="position: absolute; bottom: 0; left: 0; right: 0; z-index: 1" class="container-audio">
                <div class="colum1">
                    <div class="row"></div>
                </div>

                <div class="colum1">
                    <div class="row"></div>
                </div>

                <div class="colum1">
                    <div class="row"></div>
                </div>

                <div class="colum1">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 480">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 550">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 600">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 650">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 700">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 780">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 900">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 1000">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 1000">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 1200">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 1200">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 1400">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 1400">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 1500">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 1600">
                    <div class="row"></div>
                </div>

                <div class="colum1" [hidden]="windowWidth < 1600">
                    <div class="row"></div>
                </div>
            </div>
        </section>
        <!-- <section style="background-color: white">
            <div id="heroMascotDiv" class="col-lg-6">
          <div class="d-flex flex-column">
            <div>
              <img id="audioQueryQuestionMark2D" class="object"
                src="../../../assets/images/audioQueryQuestionMark2D.jpg" alt="" style="z-index: 99">
            </div>
            <img id="audioQueryMascot2D" src="../../../assets/images/audioQueryMascot2D.jpg" alt="">
          </div>
        </div>
        </section> -->
    </div>
</div>