/*
 * Globals
 */

/* Custom default button */
.btn{
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: white;
  border-color: white;
  /* border-white bg-white */

}

.btn:hover{
  border-color: black;
  color: rgb(0, 0, 0);
  background-color: #f0ad4e;
}

/* Adjust for diff media queries */
section{
  height: 55em;
}

#pin{
  background-color: white;
}


/*
 * Base structure
 */

#page-cont {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

.cover-container {
  max-width: 45em;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

#home-header{
  font-size: 8em;
  margin-top: 30%;
  background: url("https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80") 50% 50%;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#galaxy-background{
  background-image: url("https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
}

#btn-container{
  margin-bottom: 70%;
}

/* #transparent-bg{
  background-image: url("https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
} */

#logo{
  max-width: 16em;
  margin-top: 8em;
}

#audioQueryMascot3D{
  max-width: 17em;
}

#audioQueryQuestionMark3D{
  max-width: 10em;
  margin-left: 40px;
  /* margin-bottom: 40em; */
}

#hero{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#hostGuestBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5fr;
  /* display: flex;
  justify-content: space-evenly; */
}

#hostGuestBox div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#playGameDiv{
  margin-top: 25em;
  text-align: center;
}



.object{
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-12px); }
}

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

/* .object {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  left: 70;
  bottom: 80;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
} */