/*
 * Globals
 */

/* Phone */
#logo{
  max-width: 10em;
  margin-top: 8em;
}

#heroMascotDiv{
  display: flex;
  justify-content: flex-end;
}

#audioQueryMascot3D{
  max-width: 5em;
}

#audioQueryQuestionMark3D{
  max-width: 5em;
}

#pin{
  background-color: white;
}

/* Custom default button */
.btn{
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: white;
  border-color: white;
  /* border-white bg-white */
}

.btn:hover{
  border-color: black;
  color: rgb(0, 0, 0);
  background-color: #f0ad4e;
}

.link:hover{
  cursor: pointer;
}

/* Medium  */
@media only screen and (min-width: 523px) {

  #playGameDiv{
    margin-top: 25em;
    text-align: center;
  }

  #audioQueryQuestionMark3D{
    margin-left: 40px;
  }

  #logo{
    max-width: 4em;
    margin-top: 8em;
  }

/* Adjust for diff media queries */
section{
  height: 100vh;
  /* height: 55em; */
}

#heroLogoDiv{
  width: 50%;
}

#logo{
  /* max-width: 35%; */
  max-width: 16em;
  /* margin-top: 8em; */
}

#audioQueryMascot3D{
  max-width: 17em;
}

#audioQueryQuestionMark3D{
  max-width: 10em;
}

#hero{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
}

#hostGuestBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5fr;
}

#hostGuestBox div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

}

/* Question Mark Animation */

.object{
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-12px); }
}

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}