<div style="position:relative;" class="choice-container" [ngClass]="{ 'red': colorNum == 0, 'blue': colorNum == 1, 'pink': colorNum == 2, 'yellow': colorNum == 3}">
<div style="position:absolute; top: -14%; left: -4%">
    <img class="mascot" src="../../../../assets/images/gameRedMascot(small).png" alt="" *ngIf="colorNum == 0">
    <img class="mascot" src="../../../../assets/images/gameBlueMascot(small).png" alt="" *ngIf="colorNum == 1">
    <img class="mascot" src="../../../../assets/images/gamePinkMascot(small).png" alt="" *ngIf="colorNum == 2">
    <img class="mascot" src="../../../../assets/images/gameYellowMascot(small).png" alt="" *ngIf="colorNum == 3">

</div>
    <!-- [ngClass]="{ 'bg-dark': bgColor == 'dark', 'whiteTest': bgColor == 'white'}" -->
    <div class="answerBox">
        <span style="display: table;
        margin: 0 auto;
    ">{{answer}}</span>
    </div>
</div>
