<div class="container">
    <span id="timerAsync">{{timer | async}}</span>




    <span *ngIf="showTimer">{{seconds}}</span>
    <mat-progress-bar  *ngIf="showTimer" mode="buffer" [value]="seconds * 6.25"></mat-progress-bar>

    <div id="gameFrame">

        <!-- Game questions / answer selection -->
        <div id="game" class="justify-center flex-column" *ngIf="showGame">

            <h2 id="question">{{selectedQuestion?.question}}</h2>
        
            <!-- Should I make the locations of the different colors change randomly? -->
            <div id="questionAnswer" *ngFor="let choice of selectedQuestion | randomOrder; let indexOfelement=index;" (click)="getSelectedAnswer(choice)">
                <app-game-questionAnswer [answer]="choice" [colorNum]="indexOfelement"></app-game-questionAnswer>
            </div>

        <!-- Volume -->
        <div id="player">
            <mat-icon class="fa fa-volume-down i">volume_off</mat-icon>	
            <input id="volume" class="slider" *ngIf="showVolume" type="range" name="" id="volume" step=0.01 min=0 max=1 #ref [value]="volume" (input)="updateVolume(ref.value)">
            <mat-icon class="fa fa-volume-up i">volume_up</mat-icon>
        </div>

    </div>

        <!-- Time Remaining -->
        <div *ngIf="showTimeAnswered" id="timeAnsweredCont">
            <span>Answered in {{timeAnsweredIn}} seconds!</span>
        </div>


        <div class="d-flex flex-column">
            <!-- Answer Screen -->
            <div id="answerScreen" *ngIf="showAnswerScreen">
                <h1 class="title">Correct Answer is: </h1>
                <!-- <h1 class="title">Correct Answer is: {{correctAnswer}}</h1> -->
                <h1 class="title" style="margin-left: 0.3em"> {{correctAnswer}}</h1>
            </div>
    
            <!-- Scoreboard screen -->
            <div id="scoreboardScreen" *ngIf="showScoreboardScreen">
                <app-game-nickname-score style="margin-left: 0.1em;" [userData]="user" *ngFor="let user of roomData"></app-game-nickname-score>
            </div>

        </div>


        <!-- Winner screen -->
        <div id="winnerScreen" *ngIf="showWinnerScreen">
            <h1> {{winner}} won!</h1>
            <!-- Play again? -->
            <!-- Host options should allow user to choose random or in order -->
        </div>
    </div>

</div>