.container-fluid {
    /* Override default padding in bootstrap */
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden;
}

.spacer {
    position: absolute;
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer {
    z-index: -1;
    background-image: url(../assets/svgs/wavesOpacity.svg);
}

#footer-wrap {
    min-height: 100%;
}

#footer-main {
    overflow: auto;
    padding-bottom: 180px;
    /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -180px;
    /* negative value of footer height */
    height: 180px;
    clear: both;
}

