<footer class="text-muted p-4 d-flex justify-content-between align-items-center">

    <div>
        <span class="text-white">Website built by Sam Soto &copy; 2022</span>
    </div>
    <div>
        <a (click)="goToLink('https://www.linkedin.com/in/samuel-soto-991723223/')"><img class="img-responsive" src="../assets/images/linkedin.png" alt="Sam Soto's Linkedin"></a>
        <a (click)="goToLink('https://github.com/Samssoto1')"><img class="img-responsive" src="../assets/images/github-dark.png" alt="Sam Soto's Github"></a>
    </div>
</footer>