/* Gets rid of bootstrap box shadow on input */
input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#loginContainer{
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin input[type="password"], .form-signin input[type="text"], .form-signin input[type="email"] {
  margin-bottom: 10px;
}

mat-icon{
  margin-right: 0.2em;
}

/* Handles styles for error message */
.help-block
{
  text-align: left !important;
  color: red;
}

/* Creates Border when form input is invalid and touched */
input.ng-invalid.ng-touched{
  border: 1px solid red;
}

/* Positions the show password eye button */
#eye-icon{
  position: absolute;
	top: 30%;
	right: 10px;
}

/* Handle Reset Password Button */
#reset-password-div{
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

#reset-password-btn{
  cursor: pointer;
  color: #1a73e8;
}

#reset-password-btn:hover{
  text-decoration: underline;
  color: #155cb8;
}

/* Handle SignUp Button CSS */
#signUpDiv{
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

#signUpBtn{
  cursor: pointer;
  color: #1a73e8;
}

#signUpBtn:hover{
  text-decoration: underline;
}