<body class="text-center">
    

    <main class="form-signin">
        <form (ngSubmit)="onFormSubmit()" #f="ngForm">
          <h4 class="d-flex justify-content-center">SongSleuth</h4>
          <p>Enter the email associated with the account you wish to reset the password for below</p>
      
          <div class="form-floating">
            <input ngModel required name="email" #email="ngModel" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <span class="help-block d-flex justify-content-left m-2" *ngIf="!email.valid && email.touched">Please enter your email!</span>
      
          <div class="alert alert-danger" *ngIf="errorMsg">
            {{errorMsg}}
          </div>
    
          <button class="w-100 btn btn-lg btn-primary" [disabled]="!f.valid" type="submit">Send Email</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2022–2022</p>
        </form>
    </main>
    </body>